@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x:hidden; */
}

.p-checkbox-box {
  border: 1px solid gray;
}

.p-calendar {
  border-radius: 5%;
  width: 50%;
}

.p-calendar > .p-inputtext {
  padding: 10px 0 10px 10px;
  border: 1px solid gray;
}

.p-fileupload-file-badge {
  display: none;
}


@media print {
  .certificate-bg {
    background-image: url('/certificate.webp');
    background-size: cover;
    background-position: center;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}